/* Div Utama */
.container {
    margin: auto;
    width: 800px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: rgb(121,66,6);
}

/* Div Image Bio */
.content-image {
    width: 300px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(121,66,6);
}

/* Image Bio */
.myimage {
    width: 300px;
    border-radius: 20px;
}

/* Text Name and Status */
.p-name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}

.p-student {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}


/* Div About Me */
.content-me {
    width: 450px;
    height: 505px;
    padding: 5px;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 332px;
    margin-top: -525px;
    background-color: white;
}

/* Text About Me */
.title-h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(121,66,6);
}

.p-me {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Div Education */
.content-edu {
    width: 300px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(121,66,6);
}


/* Text Eduvation */
.p-edu {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    color: white;
}


/* Div Experience */
.content-exp {
    width: 450px;
    height: 906px;
    padding: 5px;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 332px;
    margin-top: -566px;
    background-color: white;
}


/* Text Experience */
.p-exp {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}



/* Div Skills*/
.content-skl {
    width: 300px;
    height: 330px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(121,66,6);
}


/* Text Skills */
.p-skl {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    color: white;
}


/* Div Fouter */
.fouter {
    width: 767px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}


/* Div Email Fouter */
.email-fouter {
    width: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(121,66,6);
}

/* Div Telephone Fouter */
.tele-fouter {
    width: 200px;
    position: absolute;
    margin-left: 269px;
    margin-top: -126px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(121,66,6);
}

/* Div Address Fouter */
.add-fouter {
    width: 200px;
    position: absolute;
    margin-left: 539px;
    margin-top: -126px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(121,66,6);
}

.email-fouter span, .tele-fouter span, .add-fouter span {
    font-size: 40px; /* Ukuran ikon */
    display: flex; /* Menggunakan flexbox */
    justify-content: center; /* Memusatkan ikon secara horizontal */
    align-items: center; /* Memusatkan ikon secara vertikal */
}


.email-fouter:hover, .tele-fouter:hover, .add-fouter:hover {
    opacity: 0.8;
}


/* Text Fouter */
.p-fouter {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

